gcplab_01_java/war/WEB-INF/appengine-generated/*
gcplab_01_java/war/WEB-INF/classes/*
gcplab_01_java/war/WEB-INF/lib/*
gcplab_01_java/war/WEB-INF/.DS_Store
gcplab_01_java/.classpath
gcplab_01_java/.project
gcplab_01_java/.settings/*
gcplab_01_java/war/.DS_Store
