<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>kr.gdg.gcplab.example01.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JangE</servlet-name>
        <servlet-class>kr.gdg.gcplab.example01.JangEServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NakSeo</servlet-name>
        <servlet-class>kr.gdg.gcplab.example01.NakSeoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Image</servlet-name>
        <servlet-class>kr.gdg.gcplab.example01.ImageServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/cmd/register</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>JangE</servlet-name>
        <url-pattern>/cmd/jange</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>NakSeo</servlet-name>
        <url-pattern>/cmd/nakseo</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Image</servlet-name>
        <url-pattern>/cmd/image</url-pattern>
    </servlet-mapping>
    
    
    <welcome-file-list>
		<welcome-file>page/index.html</welcome-file>
	</welcome-file-list>
</web-app>